beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
cssselect==1.2.0
idna==3.10
lookup==0.2
lxml==5.3.0
pyfiglet==1.0.2
pyquery==2.0.1
pystyle==2.9
requests==2.32.3
soupsieve==2.6
tls-client==1.0.1
typing_extensions==4.12.2
urllib3==2.2.3
